@{
    ViewBag.Title = "Home Page";
}
@using BannersApp.Helpers
@model List<BannersApp.Models.BannerViewModel>

<div class="jumbotron">
    <h1 class="cool-font">Banners Application</h1>
    <p class="lead">Welcome to Banners Application. View, Add, Modify or Remove your banners here.</p>
    <p><a href="Banners/All" class="btn btn-primary btn-lg">View All &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-12">
        @*@Html.Action("PopulateDb")*@
        <h4 class="text-center page-description"><i>Random Banners Examples</i></h4>
    </div>

    @foreach (var banner in Model)
    {
        <a href="/Banners/Details/@banner.Id">
            <div class="col-md-4">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">@banner.Name</h3>
                    </div>
                    <div class="panel-body">
                        <div class="image-container">
                            <img src="@banner.ImageAddress" class="img-rounded" alt="Banner's Picture">
                        </div>
                    </div>
                </div>
            </div>
        </a>
    }

</div>