@{
    ViewBag.Title = "All Banners";
    ViewBag.Message = "Here you will find all currently available banners";
}
<h2 class="crush-font">@ViewBag.Title</h2>
<h3 class="page-description"><i>@ViewBag.Message</i></h3>

<p>Click on a banner to view details. You'll have the options to modify or delete a banner.</p>



