@{
    ViewBag.Title = "Random Banners ";
    ViewBag.Message = "All randomly selected banners are currently active";
}
@using BannersApp.Infrastructure;
@model List<BannersApp.Models.BannerViewModel>


<h2 class="crush-font">@ViewBag.Title</h2>
<h3 class="page-description"><i>@ViewBag.Message</i></h3>

<div id="randoms">
    
    @Html.Partial("_GridPartial", Model)

    
</div>



@section scripts{

    <script>
        var ids = [];

        $('.banner-id').each(function () {
            ids.push($(this).text());
        });
        
        console.log(ids);

        setInterval(function () {
            $.ajax({
                url: 'RefreshRandomModelsData',
                type: 'POST',
                data: {lastIds: ids},
                success: function (result) {
                    console.log('success');
                    $('#randoms').html(result);
                },
                error: function () {
                    console.log("error");
                }
            });
        }, 5000);

    </script>
}
