@{
    ViewBag.Title = "Random Banners ";
    ViewBag.Message = "All randomly selected banners are currently active";
}
@using BannersApp.Infrastructure;
@model List<BannersApp.Models.BannerViewModel>

<h2 class="crush-font">@ViewBag.Title</h2>
<h3 class="page-description"><i>@ViewBag.Message</i></h3>

@Html.TextBox("refreshRate", "RefreshRate", new { @class = "hidden", @Value = $"{Globals.BannerActivityInMiliseconds}" })

<div id="randoms">
    @Html.Partial("_GridPartial", Model)

</div>


@section scripts{

    <script>
        // get shown banners' ids
        var ids = [];
        $('.banner-id').each(function () {
            ids.push($(this).text());
        });

        var refreshRate = $('#refreshRate').val();
        var seconds = refreshRate / 1000;

        window.setInterval(function () {
            $.ajax({
                url: 'RefreshRandomModelsData',
                type: 'POST',
                cache: false,
                data: { lastIds: ids },
                success: function (result) {
                    seconds = refreshRate / 1000;
                    // animation
                    $('#randoms').hide(500);
                    $('#randoms').show(500);
                    window.setTimeout(function () {
                        $('#randoms').html(result);
                    }, 250)
                },
                error: function (err) {
                    console.log("Error: " + err);
                }
            });
        }, refreshRate);
        
        // counter
        window.setInterval(function () {
            $('.counter').text(--seconds);
        }, 1000)

    </script>
}
