@{
    ViewBag.Title = "Random Banners ";
    ViewBag.Message = "All randomly selected banners are currently active";
}
<h2 class="crush-font">@ViewBag.Title</h2>
<h3 class="page-description"><i>@ViewBag.Message</i></h3>


