@{
    ViewBag.Title = "Random Banners ";
    ViewBag.Message = "All randomly selected banners are currently active";
}

@model List<BannersApp.Models.BannerViewModel>


<h2 class="crush-font">@ViewBag.Title</h2>
<h3 class="page-description"><i>@ViewBag.Message</i></h3>

<button id="button" class="btn btn-group-lg">BUTTON</button>    

<div id="randoms">
    
    @Html.Partial("_GridPartial", Model);

    
</div>





@section scripts{
    <script>
        $('#button').click(function () {
            $.ajax({
                url: "RefreshRandomModelsData",
                type: "get",
                //data: $("form").serialize(), //if you need to post Model data, use this
                success: function (result) {
                    console.log(result);
                    $("#randoms").html(result);
                },
                error: function () {
                    console.log("error");
                }
            });
        })

    </script>
    
    
    }