body {
    background-color: black;
    align-content: center;
}
.canvas {
    margin: 0 auto;
    display: block;
    width: 95%;
    height: 95%;
    position: absolute;
    top: 3%;
    left: 3%;
}

#main-canvas{
    z-index: 100;
    border: 2px solid lightslategrey;
}
#images{
    z-index: 99;
}
#background{
    z-index: 0;
    /*background: url('../img/bg/wolf.jpg');*/
    /*background: url("https://i.ytimg.com/vi/utgpJHdawHY/maxresdefault.jpg");*/
    background-repeat: no-repeat;
    background-size: cover;
    /*background: transparent;*/
    border: 2px solid "#ccc";

}

.changeVideoBg{
    -webkit-animation-duration: 4s;
    -webkit-animation-delay: 1s;
    -webkit-animation-iteration-count: 1;

    -moz-animation-duration: 4s;
    -moz-animation-delay: 1s;
    -moz-animation-iteration-count: 1;
}

.perpetually-animated{
    -webkit-animation-duration: 3s;
    -webkit-animation-delay: 2s;
    -webkit-animation-iteration-count: infinite;

    -moz-animation-duration: 3s;
    -moz-animation-delay: 2s;
    -moz-animation-iteration-count: infinite;
}

#wrapper{
    padding-top: 30px;
    margin: auto;
    width: 1300px;
    height: 700px;
    position: relative;
}
#startScreen{
    background: #3E4144;
    border: 15px #333638 solid;
    border-radius: 15px;
    width: 80%;
    height: 60%;
    z-index: 1000;
    position: absolute;
    top: 10%;
    left: 9%;
    background: url("https://i.ytimg.com/vi/wZS2WefoEIw/hqdefault.jpg?custom=true&w=320&h=180&stc=true&jpg444=true&jpgq=90&sp=68&sigh=8k8wfqsbUzkWfwnBWMi45iYL1HY");
}
#startButton{
    background: #8BC558;
    position: absolute;
    top: 45%;
    left: 30%;
    width: 45%;
    height: 15%;
    z-index: 2;
    border-radius: 10px;
    text-align: center;
    padding-top: 2.5%;
}
#startText {
    font-size: 2.5em;
    color: Maroon;
}


