body {
    background: #1e1f21;
    align-content: center;
}
#canvas {
    margin: 0 auto;
    display: block;
    background: #252729;
    width: 90%;
    height: 90%;
}
#wrapper{
    padding-top: 30px;
    margin: auto;
    width: 1300px;
    height: 750px;
    position: relative;
}
#startScreen{
    background: #3E4144;
    border: 15px #333638 solid;
    border-radius: 15px;
    width: 80%;
    height: 60%;
    z-index: 1;
    position: absolute;
    top: 10%;
    left: 9%;
}
#startButton{
    background: #8BC558;
    position: absolute;
    top: 45%;
    left: 30%;
    width: 45%;
    height: 15%;
    z-index: 2;
    border-radius: 10px;
}
#startText {
    font-size: 2.5em;
    color: #F9FCF6;
    position: absolute;
    top: 25%;
    left: 25%;
}